:root {
  --CLOUD: #F4F4FD;
  --CORNFLOWER: #E7E9FC;
  --IRIS: #4D5AE5;
  --NAVY-BLUE: #2E2F42;
  --OCEAN: #404BBF;
  --SLATE: #434455;
  --WHITE: #FFFFFF;
  --GREEN: #31D0AA;
  --LIGHT-SLATE: #8E8F99;
  --NAVY-BLUE-MODAL: #abacb3;
  --GREY: #6d6d7b;
  --DAIRY: #FCFCFC;


}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: var(--WHITE);
  line-height: 1.5;
  letter-spacing: 0.02em;
}

a {
  text-decoration: none;
}

h1 {
  font-weight: bold;
  font-size: 56px;
  line-height: 60px;
  margin: 0;
}

h2 {
  font-weight: bold;
  font-size: 36px;
  margin: 0;
}

h3 {
  font-weight: 500;
  font-size: 20px;
  margin: 0;
}

p,
ul {
  margin: 0;
}

img {
  display: block;
}

.header {
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  align-items: center;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;

}

.link {
  font-size: .75rem;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  font-size: 16px;
}

.btn {
  background-color: var(--IRIS);
  color: var(--WHITE);
  cursor: pointer;
}


/* NAV */
.navigate {
  display: flex;
  align-items: center;

}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--IRIS);
  margin-right: 76px;

}

header .logo-second {
  color: var(--NAVY-BLUE);
}

.list {
  list-style: none;
  display: flex;
  gap: 24px;
  padding: 0;
}

.menu {
  display: flex;
  gap: 40px;
  padding: 24px 0;
}

.link-item-header {
  padding: 24px 0;
}

.list-item>a {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.list-item .link {
  font-weight: 500;
  color: var(--NAVY-BLUE);

}

.adr {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--SLATE);
  margin-left: auto;
}

.li-address {
  display: flex;
  gap: 40px;
}

.link:hover,
.link:focus {
  color: var(--OCEAN);
  /* text-decoration: underline var(--NAVY-BLUE); */
}

.ul-address {
  gap: 40px;
}

address a {
  color: var(--SLATE);
}

/* Main Page - Studio */
/* section 1 */
.hero {
  background-color: var(--NAVY-BLUE);
  padding: 188px 0;
}

.hero-header {
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--WHITE);
  max-width: 496px;
  margin: 0 auto;
}

.hero-btn {
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  background-color: var(--IRIS);
  margin: 48px auto 0;
}

/* section 2 */
.section-second {
  padding: 120px 0;
}

.header-section-second {
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--NAVY-BLUE);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list-section-second {
  display: flex;
  gap: 24px;
}

.item-section-second {
  /* width: calc((100% - 72px) / 4); */
  flex-basis: calc((100% - 3 * 24px) / 4);
}

.text-card {
  color: var(--SLATE);

}

.section-second .header-card {
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--NAVY-BLUE);
  margin-bottom: 8px;
  text-align: left;
}

/* section 3 */
.section-third {
  padding-bottom: 120px;
}

.header-second {
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color: var(--NAVY-BLUE);
  letter-spacing: 0.02em;
  margin-bottom: 72px;
}

.item-section-third {
  /* width: calc((100% - 48px) / 3); */
  flex-basis: calc((100% - 3 * 16px) / 3);
}

/* section 4 Our Team */
.section-team {
  background-color: var(--CLOUD);
  padding: 120px 0;

}

.item-team-card {
  background-color: var(--WHITE);
  /* width: calc((100% - 72px) / 4); */
  flex-basis: calc((100%-24*3)/4);
  border-radius: 0px 0px 4px 4px;
}

.container-employee {
  padding: 32px 0;
}

.header-employee {
  text-align: center;
  margin-bottom: 8px;
}

.text-employee {
  text-align: center;
}

/* Portfolio Page */

.main {
  padding-top: 96px;
  padding-bottom: 120px;
}


/* FILTERS */
.ul-filter {
  justify-content: center;
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
  }

.ul-filter .btn {
  background-color: var(--CLOUD);
  border: 1px solid var(--CORNFLOWER);
  color: var(--IRIS);
  cursor: pointer;
  letter-spacing: 0.04em;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 12px 24px;
  border: 1px solid var(--CORNFLOWER);
  border-radius: 4px;
}

/* .btn-filter{
  padding: 12px 24px;
  border: 1px solid var(--CORNFLOWER);
  border-radius: 4px;
} */

.btn:active,
.btn:hover,
.btn:focus {
  color: var(--WHITE);
  background-color: var(--OCEAN);
  border: 1px solid transparent;
}

/* ul-wrap*/
.ul-wrap {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.project-card {
  width: calc((100% - 48px) / 3);
}

.shot-description-cart {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.header-card-content {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--NAVY-BLUE);
  font-weight: 500;
  margin-bottom: 8px;

}

.text-card-content {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--SLATE);
}

/* FOOTER */
.footer {
  background-color: var(--NAVY-BLUE);
  padding: 100px 0;

}

.link-footer {
  display: inline-block;
  margin-bottom: 16px;
}

.text-footer {
  line-height: 1.5;
  color: var(--CLOUD);
  letter-spacing: 0.02em;
  max-width: 264px;

}

.logo-second {
  color: var(--CLOUD);
}